#about {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #525252;
    margin-top: 10rem;
}

.category-title {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10rem;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-text {
    width: 40%;
}

.profile-img {
    width: 10%;
    margin-bottom: 5rem;
}

.profile-img img {
    border-radius: 50%;   
    width: 100%;    
}

.paragraph {
    font-size: 16px;
    line-height: 1.6rem;
}

.emailAndLocation {
    font-size: 16px;
}

@media screen and (max-width:992px) {        
    .profile-text {
        width: 50%;
    }
    
    .profile-img {
        width: 25%;
        margin-bottom: 5rem;
    } 
}

@media screen and (max-width:576px) {
    .category-title {
        font-size: 18px;
        font-style: italic;
        margin-bottom: 10rem;
    }

    .paragraph {
        font-size: 12px;
        line-height: 1.5rem;
    }

    .emailAndLocation {
        font-size: 12px;
    }
}