
#skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #525252;
    margin-top: 10rem;
}

ul, li {
    list-style: none;
    padding: 0;
}


.card-group {
    width: 80%;
}

.card {
    margin-right: 25px;
}

.card:last-child {
    margin-right: 0;
}

.card-header {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.15rem;
    background-color:#F15412;
    color: white;
}

.card-text {
    width: 100%;
}

.skills-items {
    width: 60%;
    margin: 0 auto;
    padding: 25px;
}


.skills-items li {
    font-size: 18px;
    margin-bottom: 15px;
}

.skills-items i {
    margin-right: 8px;
}

@media screen and (max-width:1010px) {
    .card-group {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .card {
        margin-right: 0;
        margin-top: 2rem;
        width: 100%;
    }

    .card-text {
        width: 100%;
    }

    .skills-items {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .skills-items i {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .skills-items li {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }

}

@media screen and (max-width:735px) {

    .card-header {
        font-size: 16px;
    
    }

    .skills-items li {
        font-size: 14px;
    
    }
}

@media screen and (max-width:576px) {

    .skills-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .skills-items li {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }

    .skills-items i {
        margin-right: 8px;
    }
    

}